h1 {
	color: black;
	display: block;
	margin: 60;
	text-align: center;
    font-size: 90px;
    /* background-color: grey; */
}

.container {
    height: 200px;
    position: relative;
}

.centerlyrics {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 70px;
    width: 1200px;
    text-align: center;
}

.centertextbox{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 65px;
    width: 1200px;
}

.centerstart{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 70px;
}